<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<script src="angularlib.js"></script>
<script src="angularStyle.js"></script>
<style>
    .product {
        
        border: 1px black solid;
        width:  100px;
        padding: 10px;
        float: left;
        margin: 10px;
    }
    
    .cart{
        
        border: 1px black solid;
        width:  320px;
        padding: 10px;
        float: left;
         margin: 10px;
    }
    }
    </style>
    
    </head>
<body ng-app="myApp">
    <div ng-controller="myController">
        
   <div class= "product">
       <h2>Product</h2>
    <div ng-repeat="item in product">
        
        <p>{{ item.name }}</p>
    <p>{{ item.age }}</p>
          <p>{{ item.price }}</p>
        <input type="button" value="Add to cart"
               ng-click="AddToCart(item)">
    </div>
      
    </div>
         
   <div class= "cart">
       <h2>Cart</h2>
    <div ng-repeat="product in cart">
        
        <p>{{ product.name }} == <input type="number" value="product.qty"></p>
    </div>
       
    </div>
    </div>
    
     <div>
       <h3>Total : {{totalPrice}}</h3>
       </div>
</body>
</html>

