<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<script src="angularlib.js"></script>

        

    </head>
<body ng-app="myApp">
    <div ng-controller="myController">
        
<div class= "product">
       <h2>Product</h2>
    <div ng-repeat="item in product">
        
        <p>{{ item.name }}</p>
    <p>{{ item.age }}</p>
          <p>{{ item.price }}</p>
        <input type="button" value="Add to cart"
               ng-click="AddToCart(item)">
    </div>
      
       </div>
</body>
</html>

